@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(0.9851 0 0);
  --foreground: oklch(0.3485 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3485 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3485 0 0);
  --primary: oklch(0.6633 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9521 0 0);
  --secondary-foreground: oklch(0.4891 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.5829 0 0);
  --accent: oklch(0.9431 0 0);
  --accent-foreground: oklch(0.3485 0 0);
  --destructive: oklch(0.738 0 0);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.931 0 0);
  --input: oklch(0.931 0 0);
  --ring: oklch(0.6633 0 0);
  --chart-1: oklch(0.6633 0 0);
  --chart-2: oklch(0.8203 0 0);
  --chart-3: oklch(0.7252 0 0);
  --chart-4: oklch(0.7826 0 0);
  --chart-5: oklch(0.5795 0 0);
  --sidebar: oklch(0.9702 0 0);
  --sidebar-foreground: oklch(0.3485 0 0);
  --sidebar-primary: oklch(0.6633 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9431 0 0);
  --sidebar-accent-foreground: oklch(0.3485 0 0);
  --sidebar-border: oklch(0.931 0 0);
  --sidebar-ring: oklch(0.6633 0 0);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: #404040;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 25.098% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 25.098% / 0.06);
  --shadow-sm:
    0px 4px 10px 0px hsl(0 0% 25.098% / 0.12),
    0px 1px 2px -1px hsl(0 0% 25.098% / 0.12);
  --shadow:
    0px 4px 10px 0px hsl(0 0% 25.098% / 0.12),
    0px 1px 2px -1px hsl(0 0% 25.098% / 0.12);
  --shadow-md:
    0px 4px 10px 0px hsl(0 0% 25.098% / 0.12),
    0px 2px 4px -1px hsl(0 0% 25.098% / 0.12);
  --shadow-lg:
    0px 4px 10px 0px hsl(0 0% 25.098% / 0.12),
    0px 4px 6px -1px hsl(0 0% 25.098% / 0.12);
  --shadow-xl:
    0px 4px 10px 0px hsl(0 0% 25.098% / 0.12),
    0px 8px 10px -1px hsl(0 0% 25.098% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 25.098% / 0.3);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2178 0 0);
  --foreground: oklch(0.9431 0 0);
  --card: oklch(0.2603 0 0);
  --card-foreground: oklch(0.9431 0 0);
  --popover: oklch(0.2603 0 0);
  --popover-foreground: oklch(0.9431 0 0);
  --primary: oklch(0.8297 0 0);
  --primary-foreground: oklch(0.2178 0 0);
  --secondary: oklch(0.3715 0 0);
  --secondary-foreground: oklch(0.9097 0 0);
  --muted: oklch(0.3211 0 0);
  --muted-foreground: oklch(0.7572 0 0);
  --accent: oklch(0.4017 0 0);
  --accent-foreground: oklch(0.9431 0 0);
  --destructive: oklch(0.738 0 0);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3753 0 0);
  --input: oklch(0.3753 0 0);
  --ring: oklch(0.8297 0 0);
  --chart-1: oklch(0.8297 0 0);
  --chart-2: oklch(0.7122 0 0);
  --chart-3: oklch(0.7476 0 0);
  --chart-4: oklch(0.6066 0 0);
  --chart-5: oklch(0.7952 0 0);
  --sidebar: oklch(0.2603 0 0);
  --sidebar-foreground: oklch(0.9431 0 0);
  --sidebar-primary: oklch(0.8297 0 0);
  --sidebar-primary-foreground: oklch(0.2178 0 0);
  --sidebar-accent: oklch(0.4017 0 0);
  --sidebar-accent-foreground: oklch(0.9431 0 0);
  --sidebar-border: oklch(0.3753 0 0);
  --sidebar-ring: oklch(0.8297 0 0);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: #404040;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 25.098% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 25.098% / 0.06);
  --shadow-sm:
    0px 4px 10px 0px hsl(0 0% 25.098% / 0.12),
    0px 1px 2px -1px hsl(0 0% 25.098% / 0.12);
  --shadow:
    0px 4px 10px 0px hsl(0 0% 25.098% / 0.12),
    0px 1px 2px -1px hsl(0 0% 25.098% / 0.12);
  --shadow-md:
    0px 4px 10px 0px hsl(0 0% 25.098% / 0.12),
    0px 2px 4px -1px hsl(0 0% 25.098% / 0.12);
  --shadow-lg:
    0px 4px 10px 0px hsl(0 0% 25.098% / 0.12),
    0px 4px 6px -1px hsl(0 0% 25.098% / 0.12);
  --shadow-xl:
    0px 4px 10px 0px hsl(0 0% 25.098% / 0.12),
    0px 8px 10px -1px hsl(0 0% 25.098% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 25.098% / 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
